query_id.txt
utils/__pycache__/queries.cpython-311.pyc
utils/__pycache__/queries.cpython-311.pyc
bot.py
generated_list_codes.py
headers.py
queries.py
serial.txt
start.py
__pycache__/bot.cpython-311.pyc
__pycache__/headers.cpython-311.pyc
__pycache__/queries.cpython-311.pyc
